body {
    background-color: royalblue;
    margin: 0;
}

body.home {
    background-image: url(./images/home.jpg);
}

nav {
    background-color: seashell;
    text-align: right;
}

nav li {
    display: inline-block;
    padding: 20px;
}

.greeting {
    font-size: 2em;
}

#main {
    background-color: #ddee33;
}